name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Core
        uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.core.svg
          user: revilowaldow
          template: classic
          base: header, activity, community, repositories, metadata
          base_indepth: yes
          commits_authoring: ${{ secrets.EMAIL }}
          repositories_forks: yes
          config_timezone: Europe/London
          plugin_languages: yes
          plugin_languages_details: percentage, bytes-size
          plugin_lines: yes
          plugin_lines_delay: 15
          plugin_lines_sections: base, repositories
          plugin_followup: yes
          plugin_followup_indepth: yes
          plugin_followup_sections: user
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: compact
          repositories_skipped: 5etools-mirror-2/5etools-src, enyancc/vscode-ext-color-highlight, flamewave000/dragonflagon-fvtt, League-of-Foundry-Developers/fvtt-module-polyglot, benjaminsampica/benjaminsampica, ironmonk88/monks-little-details, manuelVo/foundryvtt-drag-ruler, kandashi/Next-Up, ctcuff/vscode-font-preview, ironmonk88/enhanced-terrain-layer, fantasycalendar/FoundryVTT-ItemPiles, Zzarek/FoundryHotSeatObserver, Pharonix/Roll20-Dark-Theme, Git-GoR/5e-homebrew-snippets, arcanistzed/pdf-sheet, BlitzKraig/fvtt-SocketSettings, hktrpg/foundryVTT_game_time_clock, revilowaldow/revilowaldow, revilowaldow/IDPC-GoS-Obsidian, revilowaldow/IDRotF-Obsidian, revilowaldow/BITC
      - name: Right
        uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.right.svg
          user: revilowaldow
          commits_authoring: ${{ secrets.EMAIL }}
          base: ""
          repositories_forks: yes
          config_timezone: Europe/London
          plugin_notable: yes
          plugin_notable_indepth: yes
          plugin_notable_from: all
          plugin_notable_repositories: yes
          plugin_notable_types: commit, pull_request, issue
          plugin_notable_filter: commits.user>1 stars>1 forks>=1 watchers>=1
          plugin_habits: yes
          plugin_habits_from: 1000
          plugin_habits_days: 30
          plugin_habits_charts: yes
          plugin_calendar: yes
          plugin_calendar_limit: 3
          plugin_reactions: yes
          plugin_reactions_details: percentage
          repositories_skipped: 5etools-mirror-2/5etools-src, enyancc/vscode-ext-color-highlight, flamewave000/dragonflagon-fvtt, League-of-Foundry-Developers/fvtt-module-polyglot, benjaminsampica/benjaminsampica, ironmonk88/monks-little-details, manuelVo/foundryvtt-drag-ruler, kandashi/Next-Up, ctcuff/vscode-font-preview, ironmonk88/enhanced-terrain-layer, fantasycalendar/FoundryVTT-ItemPiles, Zzarek/FoundryHotSeatObserver, Pharonix/Roll20-Dark-Theme, Git-GoR/5e-homebrew-snippets, arcanistzed/pdf-sheet, BlitzKraig/fvtt-SocketSettings, hktrpg/foundryVTT_game_time_clock, revilowaldow/revilowaldow, revilowaldow/IDPC-GoS-Obsidian, revilowaldow/IDRotF-Obsidian, revilowaldow/BITC       
